@charset "UTF-8";
/*!
 * Marp / Marpit IGGG theme.
 *
 * @theme github
 * @author MATSUBARA Nobutada
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
/* Inlined highlight.js github theme 10.0.3. */
.hljs{display:block;overflow-x:auto;padding:.5em;color:#333;background:#f8f8f8}.hljs-comment,.hljs-quote{color:#998;font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:700}.hljs-literal,.hljs-number,.hljs-tag .hljs-attr,.hljs-template-variable,.hljs-variable{color:teal}.hljs-doctag,.hljs-string{color:#d14}.hljs-section,.hljs-selector-id,.hljs-title{color:#900;font-weight:700}.hljs-subst{font-weight:400}.hljs-class .hljs-title,.hljs-type{color:#458;font-weight:700}.hljs-attribute,.hljs-name,.hljs-tag{color:navy;font-weight:400}.hljs-link,.hljs-regexp{color:#009926}.hljs-bullet,.hljs-symbol{color:#990073}.hljs-built_in,.hljs-builtin-name{color:#0086b3}.hljs-meta{color:#999;font-weight:700}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}

section {
  background-color: white;
  color: #323232;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 70px;
  font-family: '源真ゴシック', 'ヒラギノ角ゴ Pro W3', 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif; }
  section > *:first-child {
    margin-top: -0.5em;
    border-bottom: 1px solid #eaecef; }
  section strong {
    color: #28a745; }
  section pre {
    display: block;
    margin: 1em 0 0;
    min-height: 1em;
    overflow: visible; }
    section pre code {
      box-sizing: border-box;
      margin: 0;
      min-width: 100%;
      padding: 0.5em;
      font-size: 0.7em;
      background-color: rgba(0, 0, 0, 0.1); }
  section code {
    display: inline-block;
    font-family: 'NasuM', 'Roboto Mono', monospace;
    font-size: 0.8em;
    letter-spacing: 0;
    margin: -0.1em 0.15em;
    padding: 0.1em 0.2em;
    vertical-align: baseline;
    background-color: rgba(0, 0, 0, 0.1); }

section.red strong {
  color: #cb2431; }

section.lead {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center; }
  section.lead > *:first-child {
    margin-top: 0; }

section.split div.split {
  columns: 2; }
